.button{
    width:100%;
    background:darkblue;
    color:white;
    border:none;
    padding:15px 20px;  
    /*passando a mao encima do botao se torna uma maozinha*/
    cursor  : pointer;
}
.button:disabled{
    background:#888;
    cursor:not-allowed;
}
